h1 {
    display: flex;
    justify-content: center;
    background-color: lemonchiffon;
    border: 2px solid;
    border-radius: 0px;
    
}
.two{
    background-color: lightblue;
    border: 2px solid;
    border-radius: 20px;
    height: 430px;
    width: 400px;
    margin: 1px 1px 50px ;
    
}
.BMW{
    /* display: flex; */
    justify-content:end;
    height: 200px;
    width: 400px;
    border: 2px solid red;
    border-radius: 20px;
}
i{
    display: flex;
    justify-content: center;
}
.Bmw{
    font-size: 20px;
    font-weight: bold;
    
}
.Yaponka{
    background-color: lightblue;
    border: 2px solid;
    border-radius: 20px;
    height: 430px;
    width: 400px;
    display: flex;
    justify-content: center;
    
}
.three{
    background-color: lightblue;
    border: 2px solid;
    border-radius: 20px;
    height: 780px;
    width: 400px;
    margin: 1px 1px 50px ;
}
.Yapon{
    font-size: 20px;
    font-weight: bold;
}
.nog{
    background-color: lemonchiffon;
    border: 2px solid;
    border-radius: 0px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.nog:hover{
    transform: scale(1);
    background-color: red;
    transition: 2s;
}